*{
	color:white;
	font-family: tahoma;
}

body{
	background-image: url("a.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

button{
	color:black;
	font-family: tahoma;
	
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: white;
}
.fa-mixcloud{
    color: white;
}
.fa-google {
  color: white;
}
.fa-instagram {
    color: white;
}
.fa-youtube {
  color: white;
}